<!DOCTYPE HTML>
<html>
<head>
  <title>Flipkart Social Sentiment Anaysis</title>
  <link href="assets/bootstrap.min.css" rel='stylesheet' type='text/css' />
  <link href="assets/bootstrap.css" rel='stylesheet' type='text/css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href="assets/layout.css" rel='stylesheet' type='text/css' />
  <link href="assets/variable.css" rel='stylesheet' type='text/css' />
  <link href="assets/style.css" rel="stylesheet" type="text/css" media="all" />
  <script type="text/javascript" src="/assets/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/jquery.fancybox.css" media="screen" />
  <script type="text/javascript" src="/assets/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="/assets/jquery.fancybox-1.2.1.js"></script>

  <script type="text/javascript" src="/assets/sentiment_fetch.js"></script>
  <script type="text/javascript" src="/assets/ticket_fetch.js"></script>
  <script type="text/javascript" src="/assets/cs_fetch.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {
          $("div.fancyDemo a").fancybox();
      });
  </script>



</head>
<body>
<div class="header_bg"><!-- start header -->
  <div class="container" id="header_container">
    <div class="row header">
      <nav class="navbar" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img style="height:50px;" src="/../assets/flipkart.png" alt="" class="img-responsive"/> </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="menu nav navbar-nav" id="menu_top_header">
              <li class="active"><a href="/">Order Id</a></li>
              <li><a href="feature">Tickets</a></li>
              <li><a href="blog">Customer Support</a></li>
              <li><a href="about">about</a></li>
              <li><a href="contact">contact</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>