<%= render "header"%>
<div class="main"><!-- start main -->
<div class="container">
			<div class="row contact"><!-- start contact -->				
				<div class="col-md-4">
					<div class="contact_info">
			    	 	<h2>Find Us Here</h2>
			    	 		<div class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7777.220655342917!2d77.68304139999998!3d12.932748200000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sflipkart+internet+private+limited!5e0!3m2!1sen!2sin!4v1433565023008" width="600" height="450" frameborder="0" style="border:0"></iframe><br><small><a href="https://goo.gl/maps/HBs1i" style="font-family: 'Open Sans', sans-serif;color:#555555;text-shadow:0 1px 0 #ffffff; text-align:left;font-size:12px;padding: 5px;">View Larger Map</a></small>
					   		</div>
      				</div>

				</div>				
				<div class="col-md-4" style="margin-left: 274px;">
				  <div class="contact-form">
				  	<h2>Contact Us</h2>
                      <div class="company_ad">
                          <h4>Address: </h4>
                          <address>
                              <p>Flipkart Internet Private Limited,</p>
                              <p>Mantri Commercio</p>
                              <p>Bellandur, Bangalore</p>
                              <p>Phone:(91) 9535880638</p>
                              <p>Fax: (080) 24576322</p>
                              <p>Email: <a href="mailto:cs@flipart.com">cs(at)flipkart.com</a></p>
                          </address>
                      </div>
				    </div>
  				</div>		
  				<div class="clearfix"></div>		
		  </div> <!-- end contact -->
</div>
</div>
<%= render "footer" %>
</body>
</html>