<!DOCTYPE html>
<html>
<head>
  <title>My first Chartist Tests</title>
  <link rel="stylesheet"
        href="/../../assets/chartist.min.css">
</head>
<body>
<%= render "header"%>
<!-- Site content goes here !-->
<div style="width:500px;margin: 0 auto;padding-left: 50px;"><h3>Flipkart Social Sentiment Analysis Graph</h3></div>
<div class="ct-chart ct-perfect-fourth" style="width:500px; height:500px;margin: 0 auto;"></div>
<script src="/../../assets/chartist.min.js"></script>
<script>
    new Chartist.Line('.ct-chart', {
        labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68],
        series: [[0.688354,0.615806,0.0164436,0.0863217,0.554001,0.688354,0.615806,0.0164435,0.0863217,0.554001,0.160046,0.535693,0.316762,0.56309,0.269293,0.688354,0.615806,0.0164435,0.0863217,0.554001,0.173802,0.348779,0.21594,0.414653,0.152153,0.152153,0.315755,0.554002,0.152153,0.768113,0.737797,0.455632,0.24886,0.00256521,0.574043,0.450819,0.610352,0.130817,0.160046,0.252697,0.436456,0.574043,0.160046,0.920696,0.203002,0.608169,0.691194,0.509828,0.261842,0.291325,0.0153757,0.428598,0.0534037,0.101124,0.296983,0.251061,0.251061,0.194742,0.643813,0.502909,0.613118,0.779463,0.313903,0.0981009,0.196223,0.530032,0.318047,0.739288],
            [-0.838124,-0.628038,-0.259883,-0.262544,-0.479794,-0.2402,-0.598073,-0.0102212,-0.705492,-0.306301,-0.523945,-0.838124,-0.628038,-0.259883,-0.262544,-0.479794,-0.2402,-0.598073,-0.146675,-0.0392507,-0.592806,-0.720535,-0.351148,-0.259444,-0.608452,-0.128598,-0.355733,-0.264776,-0.516532,-0.629176,-0.262544,-0.734447,-0.537059,-0.629176,-0.610263,-0.42534,-0.731442,-0.106898,-0.551813,-0.723043,-0.449064,-0.251739,-0.460246,-0.725326,-0.6088,-0.606762,-0.838981,-0.631647,-0.0689369,-0.498245,-0.221034,-0.556357,-0.24308,-0.421258,-0.525538,-0.136767,-0.587734,-0.18467,-0.285497,-0.382567]
        ]
    }, {
        high: 1,
        low: -1,
        showArea: true,
        showLine: false,
        showPoint: false,
        fullWidth: true,
        axisX: {
            showLabel: false,
            showGrid: false
        }
    });

</script>
</body>
</html>
